<div class="jumbotron mt-5">
  <h2 class="heading">Filtra Temas por Carrera y Cuatrimestre</h2>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <form >
        <div class="form-group centrar">
          <select name="carrera" class="form-control form-control-lg">
            <option>DSM</option>
            <option>IDGS</option>
          </select>
        </div>
        <div class="form-group ">
          <select name="cuatrimestre" class="form-control form-control-lg ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-lg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </form>
      <button class="btn btn-primary btn-block btn-lg">Buscar</button>
    </div>
  </div>

</div>
