table {
  width: 100%;
  margin-top: 10px;
}
.align-icons {
  text-align: right;
}

th {
  width: 18%;
}
.pointer {
  cursor: pointer;

}
.mat-form-field {
  font-size: 18px;
  width: 100%;
}

h2 {
  margin-top: 10px;
}
